/*For AboutUs pages only*/
.intro-content{
   font-size: 14px;
   line-height: 20px;
   font-family: 'SVN-Poppins-Light';
   margin-top: 20px;
}
.intro-title{
   font-family: 'SVN-Poppins-Medium';
   font-size: 26px;
   padding-top: 15px;
}
.intro-text{
   display: inline-grid;
   margin-left: -15px;
}
.intro-img{
   width: 150px;
   height: 130px;
   margin-left: 35px;
}
.intro-row{
   margin-bottom: 100px;
}