/* Khang custom map*/

  #map-content {
    float: right;
    width: 100%;
    height: 600px;
    background: #004cd6;
    position: relative;
  }
  
  .map-content {
    position: relative;
    width: 65%;
    height: 100%;
  }
  .maps {
    width: 100%;
    height: 100%;
    border: 0px solid #eee;
    margin: 0px auto;
    float: right;
    /* position: relative; */
  }
  .admin-app-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1E344D;
    display: inline-block;
    float: left;
  }

.admin-map {
  width: 100%;
  height: 100%;
}

.map-place {
    width: 100%;
    overflow: hidden;
  }

.form-data {
  margin-left: 60%;
  margin-right: 0%;
}

.login-background{
  background: linear-gradient(#13223B, #00633C);
}

.login-content{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background: transparent;
  height: fit-content;
  display: inline-grid;
}

.login-card{
  margin-top: 32px;
  width: 450px;
  height: fit-content;
  border-radius: 4px;
  border: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
}

.login-input{
  width: -webkit-fill-available;
}

.login-group{
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 7px;
  margin-bottom: -8px;
}

.login-button-icon{
  width: 76px;
  height: 76px;
  margin-left: auto;
  margin-right: auto;
  background: #0C3338;
  border: 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.login-label{
  font-size: 32px;
  font-family: 'SVN-Poppins-Medium';
  margin-top: 32px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.login-forgot-pass{
  color: #636363;
  font-size: 12px;
  font-family: 'SVN-Poppins-Light';
  margin-top: 17px;
  margin-bottom: 30px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.login-admin-button{
  font-size: 14px;
  font-family: 'SVN-Poppins-SemiBold';
  width: 154px;
  height: 40px;
  background: #0C3338;
  border: 0px;
  border-radius: 50px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  display: grid;
}

.login-go-back-text{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6px;
}

.login-go-back{
  background: transparent;
  border: none;
  color: #002719;
  font-size: 14px;
  width: fit-content;
  display: flex;
  margin-left: -12px;
  margin-top: 20px;
}

.login-err-message{
  font-size: 14px;
  padding-top: 8px;
  color: #FF6F61;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: fit-content;
}

// style for GGTable
.table-card{
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 24px;
}

.card-header-table{
  background: #ffffff;
}

.action-row.table-action {
  height: 54px;
  border-top: 0px;
}

.table-first-item{
  margin-left: 20px;
  margin-bottom: 0px;
  width: fit-content;
}

tr.row-class-light-table {
  border-bottom: 1px solid #E4E4E4;
  height: 54px;
  font-size: 16px;
  font-family: 'SVN-Poppins';
}

tr.row-class-light-table td {
  padding-bottom: 0;
  padding-top: 0;
  border-top: none;
}

.table-label{
  margin-left: 22px;
}

.row-class-light-table .btn-action-item {
  margin-top: 6px;
}

.header-table {
  border-top-style: hidden;
  background: #EDF2F6;
  height: 54px;
  font-size: 14px;
  font-family: 'SVN-Poppins-Medium';
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.table thead th {
  vertical-align: top;
  border-bottom: 1px solid #c8ced3;
}

.btn-action {
  color: #979797;
  background: transparent;
  border: none;
  vertical-align: middle;
  height: 100%;
  cursor: pointer;
}
.btn-action-collapse {
  color: #ffffff;
  background: transparent;
  border: none;
  vertical-align: middle;
  height: 100%;
  padding-right: 18px;
  padding-left: 30px;
}

.action-content {
  width: max-content;
  right: 0px;
  position: absolute;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  z-index: 1;
  background: #EDF2F6;
  color: #13223B;
  border-radius: 48px 2px 2px 48px;
  -webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.28);
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.28);
  height: 54px;
}

.action-row {
  position: relative;
  height: 54px;
  text-align: right;
  display: grid;
  border: 0px;
  border-bottom:0px; 
}

button.btn-action:focus {
  outline: none;
}

.action-item {
  text-align: center;
  float: left;
  display: inline-grid;
  width: max-content;
  margin-left: 22px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 18px;
}

.action-item-label{
  margin-bottom: 0px;
  width: max-content;
  cursor: pointer;
}

.btn-action-item {
  color: #ffffff;
  background: transparent;
  border: none;
  vertical-align: middle;
  height: 100%;
  cursor: pointer;
}

.table-header-label{
  margin-top: 8px;
  margin-left: 10px;
  color: #444444;
  font-size: 16px;
  font-family: 'SVN-Poppins-Medium';
}

.react-bootstrap-table-pagination{
  margin-left: 22px;
  margin-right: 22px;
}

.post-1{
  display: grid;
  text-align: left;
  margin-left: 12px;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.post-1-label{
  // font-family: 'SVN-Poppins-Medium';
}

.post-1-label-2{
  font-size: 14px;
  margin-bottom: 0px;
}

.btn-khang{
  height: 36px !important;
  text-align: center !important;
  font-size: 13px !important;
  line-height: 15px !important;
  width: 120px !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.post-content-khang{
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 22px;
}