// Here you can add other styles
.react-switch {
  vertical-align: middle;
  margin-right: 7px;
}
.breadcrumb_custom {
  margin-left: auto;
  width: fit-content;
  height: 50px;
  margin-top: -74px;
}